
/*center*/
.inner{
    display:flex;
    flex-direction:row;
    width:980px;
    padding:0;
    margin:0 auto;

}
/*��Ϣ*/
.info_box {
    width: 370px;
    margin-left: 10px;
    margin-top: 40px;

}
.info_menu {
    margin-top: 0;
    height: 40px;
    background-image: url("../img/背景.jpg");
    border: 1px solid #e2e2e2;
} 
.info_menu li{
    height:40px;
    width:66px;
    text-align:center;
    line-height:40px;
    font-weight:bold;
    font-size:18px;
    font-family:"Microsoft YaHei";
    margin-right:60px;
    float:left;
    background-color:inherit;
    opacity:1;
}
.info_menu li a{
    height:40px;
    width:66px;
    color:#fafafa;
    text-decoration:none;
}
.info_menu  li a:hover{
    color:darkgreen;
}
.info_content {
    width: 368px;
    margin-top: -16px;
    padding: 0;
    background: rgb(246,246,246);
    border: 1px solid #e2e2e2;
}
/*���*/
.info_flag{
    width:200px;
    padding:10px 85px;    
}
.info_txt{
    padding:0 10px;
    line-height:21px;
    font-size:14px;
    font-family:SimSun;
    color:#333333;
}
/*����*/
.info2_txt{
    margin-left:20px;
    clear:both;
    padding:10px;
}
.info2_txt h3{
    color:darkgreen;
    font-family:'Microsoft YaHei';
    font-size:18px;
}
.info2_txt p{
    color:#333333;
    font-family:'Microsoft YaHei';
    line-height:20px;
}
.info2_txt a{
     text-decoration:none;
     color:#333333;
     font-family:'Microsoft YaHei';
     line-height:20px;
 }
.info2_txt a:hover{
    text-decoration:underline;
}

/*����*/
.country_box {
    width: 500px;
    height: 610px;
    margin-left: 50px;
    margin-top: 40px;
    border: 1px solid #e2e2e2;
    background: rgb(246,246,246);
}
.country_menu {
    margin-top: 0;
    height: 40px;
    background-image: url("../img/背景.jpg");
    border: 1px solid #e2e2e2;
}
.country_menu li{
    height:40px;
    width:66px;
    text-align:center;
    line-height:40px;
    font-weight:bold;
    font-size:18px;
    font-family:"Microsoft YaHei";
    margin-right:60px;
    float:left;
    color:#fafafa;
    background-color:inherit;
    opacity:1;
}
.country_box dl {
    float: left;
    width: 50%;
    margin-bottom:10px;
    padding: 0;
}
.country_box dl dt{    
    color:darkgreen;
    font-family:'Microsoft YaHei';
    font-size:21px;
    height:25px;
    font-weight:bold;
    text-align:center;
    padding-bottom:7px;
}
.country_box dl dd{
    padding:5px 0px;
    clear:both;
}
.country_box dl dd a{
    padding-left:10%;
    color:#333333;
    text-decoration:none;
    cursor:pointer;
}
.country_box dl dd a:hover{
    color:lightgreen;
}

