body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: 1000px;
}
/*header*/
.header {
    display: flex;
    flex-direction: column;
}

.logo {
    min-width: 1000px;
    width: 100%;
    height: 200px;
    position: absolute;
}

.menu {
    list-style: none;
    position: relative;
    margin-top: 145px;
    margin-left: 25%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0px;
    width: 11%;
    height: 55px;
    background-color: darkgreen;
    opacity: 0.7;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

hr {
    width: 100%;
    background-color: darkgreen;
    margin-top: -16px;
    height: 5px;
}

li:hover {
    background-color: black;
}


/*footer*/
.footer {
    text-align: center;
    color: #666;
    line-height: 25px;
    padding: 20px 0;
    margin-top: 5px;
}

.footer-inner {
    margin: 0 auto;
    width: 1000px;
    font-size: 11px;
}

.footer a {
    color: #666;
    font-size: 11px;
}

.footer a:hover {
        text-decoration: underline;
}

/*center*/
.inner{
    width:938px;
    margin:40px auto 100px ;
    background-color:darkgreen; 

    
}
.calendar_title{
    height:46px;
    background:url(±³¾°.jpg) no-repeat;
    margin:0;
    padding:0;
}
.calendar_title li{
    width:134px;
    font-size:14px;
    color:black;
    text-align:center;
    height:36px;
    padding:5px 0;
    float:left;
    background:inherit;
    opacity:1;
}
.date{
    height:28px;
    background-color:#eee5d4;
    margin:0;
    padding:0;
}
.date li{
    font-size:12px;
    color:#333;
    text-align:center;
    height:28px;
    line-height:28px;
    width:134px;
    float:left;
    background:inherit;
    opacity:1;
}
.list {
    height: 238px;
    width: 938px;
    background: rgb(246,246,246);
    margin: 0;
    padding: 0;
}

.list li {
    flex-direction:column;
    width: 133px;
    height: 238px;
    border-right: 1px solid #c8c8c8;
    overflow: hidden;
    background: inherit;
    opacity: 1;
}
.list p{
    font-family:SimSun;
    color:#000;
    padding:0 0 0 6px;
    margin-top:20px;
    display:block;
    -webkit-margin-start:0px;
    
}

